.popup {
    border-radius: 40px;
    background-color: rgba(28, 28, 33, 1);
    padding: 40px 40px 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 31%;
    z-index: 2;
}

.popup_container {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    width: 600px;
    height: 64px;
}

.popup_close_icon {
    cursor: pointer;
}