.ingredients {
    max-height: 912px;
    max-width: 600px;
    margin: 0 40px 40px 380px;
    flex-shrink: 0;
}

.ingredients_tab_panel {
    display: flex;
}

.ingredients_items {
    height: 680px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}

.ingredients_items li:not(:last-child) {
    margin-bottom: 40px;
}